.form-check-label {
    font-weight: normal;
}

label {
    font-weight: bold;
}

.table_title {
    font-weight: bold;
}

table {
    text-align: center;
}

.title {
    text-align: center;
    font-weight: bold;
    /*margin-top: 15px;*/
    /*margin-bottom: 20px;*/
}
